.dashboard {
  padding: 20px;
  text-align: center;
  background-color: #e0f7fa; 
  min-height: 100vh; 
}

.chart-container {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  width: 100%;
  max-width: 900px; 
  margin: 0 auto;
}

.chart-wrapper {
  
  background-color: #f0f0f0; 
  border-radius: 8px;
  padding: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; 
}



.chart-wrapper h2 {
  margin-bottom: 20px;
  color: #0277bd; 
  font-size: 24px; 
  font-weight: bold; 
}



