.body {
    background-image: url('../Assests/abstract-blue.jpeg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}



.form-instructions {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    max-width: 600px;
    margin: 50px auto 20px; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.add-item-button,
.reset-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-item-button {
    background-color: #28a745;
    color: white;
}

.reset-button {
    background-color: #dc3545;
    color: white;
}

.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.message.success {
    background-color: #d4edda;
    color: black;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}
