.home-container {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
}

.home-container h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;
}

.home-container p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}

.call-to-action {
    font-weight: 500;
    color: #007BFF;
}

.contact {
    margin-top: 100px;
    font-weight: 400;
    color: #666;
}
